<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
  <title>Lesson Store App</title>
</head>

<body>
  <div id="app">
    <header>
      <p id="titlename" v-text="sitename"></p>
      <!-- ... other header content ... -->
    </header>
    <main>
      <div v-if="showProduct">
        <div v-for="product in products" class="product-card">
          <figure>
            <img v-bind:src="product.image">
          </figure>
          <h2 v-text="product.title"></h2>
          <p>Location: {{product.location}}</p>
          <p>Price: £{{product.price}}</p>
          <p>Spaces: {{product.availableInventory}}</p>
          <button v-if="canAddToTheCart(product)" v-on:click="addItemToTheCart(product.id)">Add to the Cart</button>
          <div v-else>
            <button disabled>Add to the Cart</button>
            You have added all the available items for this product in your cart
          </div>
        </div>
      </div>
      <div v-else>
        <h1>Welcome to the Checkout Page</h1>
        <!-- Checkout related content goes here -->
      </div>
    </main>
  </div>
  <script src="script.js"></script>
</body>

</html>