<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
  <title>Lesson Store App</title>
</head>

<body>
  <div id="app">
    <header>
      <h1 id="titlename" v-text="sitename"></h1>
      <button id="cartBtn" v-on:click="toggleCart">
        🛒 Shopping Cart 🛒 ({{ cart.length }})
      </button>
    </header>

    <main>

      <div v-if="showProduct">
        <!-- search input -->
        <input type="text" id="searchBar" v-model="searchQuery" placeholder="Search lessons..." />

        <!-- dropdown for sorting -->
        <select id="dropDown" v-model="sortAttribute">
          <option value="title">Subject</option>
          <option value="location">Location</option>
          <option value="price">Price</option>
          <option value="availableInventory">Spaces</option>
        </select>

        <!-- sorting buttons -->
        <button id="ascButton" @click="updateSortOrder('ascending')">Ascending</button>
        <button id="dscButton" @click="updateSortOrder('descending')">Descending</button>
        <div v-for="product in sortedProducts" :key="product.id" class="product-card">
          <figure>
            <img v-bind:src="product.image" alt="product.title">
          </figure>
          <h2 v-text="product.title"></h2>
          <p>Location: {{ product.location }}</p>
          <p>Price: £{{ product.price }}</p>
          <p>Spaces: {{ product.availableInventory }}</p>
          <button v-on:click="addItemToTheCart(product)" :disabled="product.availableInventory === 0">Add to
            Cart</button>
          <p id="soldOut" v-if="product.availableInventory === 0">Sold Out</p>
        </div>
      </div>
      <div v-else>
        <h1>Shopping Cart</h1>
        <ul>
          <li v-for="item in cart" :key="item.id">
            {{ item.title }} - £{{ item.price }}
            <button @click="removeItemFromCart(item)">Remove</button>
          </li>
        </ul>
      </div>
    </main>
  </div>
  <script type="module" src="script.js"></script>
</body>

</html>