body {
  font-family: Arial, sans-serif;
  background-color: #ddd0c8;
}

header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-family: "Times New Roman", Times, serif;
  padding: 5px;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background-color: #333;
  color: #ffffff;
  transition: background-color 0.2s ease;
  border-radius: 300px;
}

#titlename {
  font-size: 50px;
  font-weight: bold;
  color: #712626;
}

button:hover {
  background-color: #555;
  border-radius: 300px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

main {
  padding: 5px;
  align-items: center;
  text-align: center;
}

figure img {
  width: 40px;
  max-width: 300px;
}
.product-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  max-width: 250px;
  color: #712626;
  display: inline-block;
  text-align: center;
}

.product-card figure {
  margin: 0;
  text-align: center;
}

.product-card img {
  max-width: 100%;
}
